// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
$poppin: 'Poppins', sans-serif;

// colors
$gray: hsl(0, 0%, 75%);
$red: hsl(0, 87%, 67%);
$white: hsl(0, 0%, 100%);
$cyan: hsl(180, 66%, 49%);
$darkBlue: hsl(255, 11%, 22%);
$grayViolet: hsl(257, 7%, 63%);
$darkViolet: hsl(257, 27%, 26%);
$veryDarkViolet: hsl(260, 8%, 14%);